/* mobile device */
@media screen and (max-width: 576px) {
  section {
    margin: 2rem auto;
  }
  .nav {
    flex-direction: column;
    gap: 6rem;
  }
  .nav__items {
    flex-direction: column;
    gap: 4rem;
  }
  .banner,
  .card {
    padding: 2rem;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .banner__des {
    padding: 0;
  }
  .banner__des,
  .banner__image {
    width: 100%;
  }
  /* online game */
  .card {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .online p {
    margin: 1rem 0 1rem 0;
  }
}
/* mid device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav {
    flex-direction: column;
    gap: 6rem;
  }
  .nav__items {
    flex-direction: column;
    gap: 4rem;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 2rem;
  }
  .banner__des {
    padding: 0;
  }
  .banner__des,
  .banner__image {
    width: 100%;
  }
}
