/* mobile device */
@media screen and (max-width: 576px) {
  section {
    margin: 1.5rem auto;
  }
  header,
  main {
    padding: 0;
  }
  .nav {
    flex-direction: column;
    gap: 6rem;
  }
  .nav__items {
    flex-direction: column;
    gap: 4rem;
  }
  .banner,
  .card,
  .play__now,
  .online {
    padding: 2rem;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .banner__des {
    padding: 0;
  }
  .banner__des,
  .banner__image {
    width: 90%;
  }
  /* online game */
  .card {
    grid-template-columns: 1fr;
  }
  .online p {
    margin: 1rem 0 1rem 0;
    padding: 0 10px;
  }
  /* play now */
  .play__now {
    grid-template-columns: 1fr;
  }
  .play__now_image {
    width: 70%;
    position: relative;
  }
  .play__now_text {
    width: 100%;
    margin-left: 0;
  }
  .play__now_text p {
    margin-bottom: 2rem;
  }
  .position {
    width: 50%;
    bottom: -4rem;
    left: -5rem;
  }
  /* game gallery */
  .game .image {
    width: 40px;
    height: 40px;
  }
  .games {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 5rem;
  }
  .game strong {
    font-size: 0.8rem;
    line-height: 1;
    margin-right: 0.5rem;
  }
  /* footer */
  .footer {
    padding: 8rem 2rem;
  }
  .footer .logo {
    margin-bottom: 3rem;
  }
  .link,
  .social__link,
  .policy {
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .social__link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
/* mid device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner,
  .card,
  .play__now {
    padding: 4rem;
  }
  .nav {
    flex-direction: column;
    gap: 6rem;
  }
  .nav__items {
    flex-direction: column;
    gap: 4rem;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    padding: 2rem;
  }
  .banner__des {
    padding: 0;
  }
  .banner__des,
  .banner__image {
    width: 100%;
  }
  /* play now */
  .play__now {
    grid-template-columns: 1fr;
  }
  .play__now_image {
    width: 90%;
    position: relative;
  }
  .play__now_text {
    width: 100%;
    margin-left: 0;
  }
  .play__now_text p {
    margin-bottom: 2rem;
  }
  .position {
    width: 50%;
    bottom: -7rem;
    left: -7rem;
  }
  /* game gallery */
  .game .image {
    width: 60px;
    height: 60px;
  }
  .games {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
  .game strong {
    font-size: 1.8rem;
    line-height: 1;
  }
}
