@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* ============shared style=============================================================================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
section {
  margin: 17rem auto;
}
h4 {
  color: #0b0223;
  font-size: 4.8rem;
  font-weight: 600;
}
p,
strong {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 3rem; /* 150% */
}
header,
main {
  padding: 0 2rem;
}
.size {
  max-width: 1920px;
  margin: 0 auto;
}
.color__font {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  background: linear-gradient(#f948b2, #8758f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* button style */
.btn {
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4.8rem;
  border: 0;
  margin-top: 3rem;
  margin-right: 1rem;
}
.btn a {
  color: #fff;
}
.btn__primary {
  background-color: #ff425a;
}

.btn__secondary {
  background-color: #4ec5f7;
}
/* ! ============================================header style============================================= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.logo .image {
  width: 86px;
  margin-right: 2rem;
}

.logo__text a {
  font-size: 4.5rem;
  font-weight: 700;
  color: #0b0223;
}
.logo .logo__text span {
  background-image: linear-gradient(#ff42a5, #ff42a5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.4rem;
}

.nav__items a {
  color: #3c354f;
  font-size: 1.8rem;
  font-weight: 500;
}

.nav__items button {
  width: 262px;
  height: 56px;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.fa-brands {
  font-size: 3.3rem;
}
.fa-youtube {
  color: #f61c0d;
}

.fa-tiktok {
  background-image: linear-gradient(#08fff9, #ff0303);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ! =================================== banner ==================================== */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
}
.banner__des,
.banner__image {
  width: 50%;
}
.banner__des {
  background-image: url(../images/Group\ 14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8rem 0 8rem 4rem;
  align-self: flex-start;
}

.banner__des h2 {
  font-size: 9.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner__des p {
  font-size: 2rem;
  text-transform: lowercase;
  padding-bottom: 0.8rem;
}
.banner__des p > i {
  padding-right: 0.5rem;
}

/* ! ========================================online game section ======================================*/
.online .color__font {
  font-weight: 700;
}
.online h4,
.online p {
  text-align: center;
}
.online p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1rem 0 5rem 0;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 2rem;
}

.card p {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
}
.image__container {
  position: relative;
  border: 2px solid transparent;
  border-radius: 20px;
  overflow: hidden;
}

/* ! =============Hover effect overlay */
.image__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.image__container:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

/* != ========== video  icon  styles */
.video__icon {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  font-size: 30px;
}

.image__container:hover .video__icon {
  display: block;
}

/* ! ===============================play now============================================= */
.play__now {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.play__now_image {
  width: 85%;
  margin-left: auto;
  position: relative;
}
.play__now_text {
  width: 50%;
  margin-left: 20%;
}

.play__now_text h4 {
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 1rem;
}

.position {
  position: absolute;
  bottom: -10rem;
  left: -10rem;
}
/* ! ============================== game gallery ====================== */
.game .image {
  width: 60px;
  height: 60px;
}

.games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
  padding: 0 2rem;
}
.game {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: 1s ease;
  border: 3px solid transparent;
}

.game:hover {
  border: 3px solid #ff42a5;
  border-radius: 7rem;
}
.game:hover strong {
  color: #ff42a5;
}
/*! ============================== footer =================================*/
.footer {
  text-align: center;
  background-color: #0b0223;
  padding: 13rem 10rem;
}
.footer .logo {
  margin-bottom: 6rem;
}
.footer .logo .logo__text a {
  color: #fff;
}
.link a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.link,
.social__link,
.policy {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}
.policy a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.social__link a {
  display: block;
  background-image: linear-gradient(#f4f7f7, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social__link button {
  border: 0;
  background-color: #0b0223;
}
.copyright > strong {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  font-weight: 500;
}
